.snack-container {
  width: 30%;
  margin: 0 auto;
}

.button-container button {
  margin: 1rem;
  border: none;
  border-radius: 3%;
  padding: 0.5rem 1rem;
  background-color: #ff4b5c;
  color: aliceblue;
}

.button-container button:hover {
  cursor: pointer;
  background-color: #f77986;
}
