.vending-machine {
  margin: 0 auto;
  background-image: url('https://vignette.wikia.nocookie.net/to-aru-majutsu-no-index/images/2/26/Jihanki.png/revision/latest?cb=20120504161315');
  background-position: center;
  height: 40.6rem;
  width: 50%;
}

.vending-machine h2 {
  padding: 1rem 0;
  color: #363434;
}

.vending-machine ul {
  padding: 0;
  margin: 0;
}
.vending-machine li {
  list-style: none;
  margin: 1rem;
}

.vending-machine li a {
  text-decoration: none;
  color: #363434;
  font-weight: bold;
  font-size: 1.5rem;
}

.vending-machine li a:hover {
  color: #e0ece4;
}

.vending-machine-container {
  background-color: #ff4b5d9f;
  margin: 1rem 5rem 0;
  border-radius: 2%;
}
